body {
    padding-right: 75px;
    padding-bottom: 50px;
    padding-left: 75px;
    font-family: Trebuchet MS;
    background-color: #18191A;
    line-height: 175%;
    text-align: left;
}

a {
    animation-name: fade, showin;
    animation-duration: 0.4s;
    color: #BDB392;
}

#kanye {
    float: right;
}

#header {
    padding-top: 40px;
    font-size: 32px;
    animation-name: showin;
    animation-duration: 1s;
    color: #E4E6EB;
}

#desc {
    font-size: 18px;
    animation-name: showin;
    animation-duration: 1s;
    color: #E4E6EB;
}

.collapsible {
    background-color: #3A3B3C;
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color:  #18191A;
    outline: none;
    font-family: Trebuchet MS;
    font-size: 20px;
    text-align: left;
    animation-name: fade, showin;
    animation-duration: 1s;
    color: #E4E6EB;
}

.collapsible:hover {
    background-color: #BDB392;
}

.collapsible:after {
    content: '\02795';
    font-size: 20px;
    float: left;
    margin-right: 10px;
}

.active:after {
    content: "\2796";
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    display: none;
    overflow: hidden;
    background-color: #18191A;
    font-size: 18px;
    animation-name: fade, showin;
    animation-duration: 0.4s;
    color: #E4E6EB;
}

.lastmeal {
    width: 25%;
    margin-right: 10px;
}

#stardewApp {
    width: 55%;
}

.project {
    margin-bottom: 40px;
}

.detailsCS {
    margin-left: 80px;
    background-color: #18191A;
    font-size: 16px;
    color: #E4E6EB;
}

.detailsPSCI {
    margin-left: 80px;
    background-color: #18191A;
    font-size: 16px;
    color: #E4E6EB;
}

@keyframes fade {
    from {
        transform: translateX(-80px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes showin {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}